body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
:root {
    --color-principal: blue; 
}

#header1 { 
    height: 30px;
    background-color: var(--color-principal);
}


